img{
    position: absolute;
    height: 712px ;
    width: 100%;
    margin: 0%;
    z-index: 0;
}
.yey{
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 100px;
    translate: 350px 500px ;
}
.straw{
    width: 140px;
    height: 50px;
    background-color: rgba(173, 233, 233, 0.739);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}
.straw2{
    width: 140px;
    height: 50px;
    background-color: rgba(173, 233, 233, 0.739);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}
.straw3{
    width: 140px;
    height: 50px;
    background-color: rgba(173, 233, 233, 0.739);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}
.hohe{
   position: absolute;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(22, 21, 21, 0.906);
    background-color: rgba(167, 214, 255, 0.443);
    font-size: 50px;
    translate: 380px 200px;
    border-radius: 10px;
}
p{
    position: absolute;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(166, 145, 131);
    font-size: 40px;
    translate: 50px 360px;
    border-radius: 10px;
    width: 800px;
    backdrop-filter: blur(4px);
    border-radius: 5p;
}